@model TUI.Flights.Common.Args.Flight.CreateFlightArgs

@{
    ViewData["Title"] = "CreateFlight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="disply_wrapper">
    <div class="row">
        <h2 class="page-header page-header--centered">Create New Flight</h2>
        <div class="col-md-offset-2 col-md-8">
            <form asp-action="CreateFlightPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FlightNumber" class="control-label"> Flight number</label>
                    <input asp-for="FlightNumber" class="form-control" placeholder="Flight number" />
                    <span asp-validation-for="FlightNumber" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="DepartureAirportId" class="control-label">Departure</label>
                        <select asp-for="DepartureAirportId"
                                asp-items="@(new SelectList((IEnumerable<TUI.Flights.Common.Dtos.Airport.AirportDto>)ViewData["airports"], "Id", "Value"))"
                                class="form-control">
                            <option>
                                Select the departure airport
                            </option>
                        </select>
                        @*<input asp-for="DepartureAirport" type="hidden" />
                            <input id="DepartureAirportInput" required class="form-control" placeholder="Autocomplete and select a departure airport" />*@
                        <span asp-validation-for="DepartureAirportId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DestinationAirportId" class="control-label">Destination</label>
                        <select asp-for="DestinationAirportId"
                                asp-items="@(new SelectList((IEnumerable<TUI.Flights.Common.Dtos.Airport.AirportDto>)ViewData["airports"], "Id", "Value"))"
                                class="form-control">
                            <option>Select the destination airport</option>
                        </select>
                        @*<input asp-for="DestinationAirport" type="hidden" />
                            <input id="DestinationAirportInput" required class="form-control" placeholder="Autocomplete and select a destination airport" />*@

                        <span asp-validation-for="DestinationAirportId" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="FlightDate" class="control-label">Date</label>
                        <input asp-for="FlightDate" type="date" class="form-control" />
                        <span asp-validation-for="FlightDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="FlightTime" class="control-label">Time</label>
                        <input asp-for="FlightTime" type="time" class="form-control" placeholder="Departure Time" />
                        <span asp-validation-for="FlightTime" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="AircraftId" class="control-label">Aircraft</label>
                    <select asp-for="AircraftId"
                            asp-items="@(new SelectList((IEnumerable<TUI.Flights.Common.Dtos.Aircraft.AircraftDto>)ViewData["aircrafts"], "Id", "Value"))"
                            class="form-control">
                        <option>Select the aircraft model</option>
                    </select>

                    @*<input asp-for="Aircraft" type="hidden" />
                        <input id="AircraftInput" class="form-control" placeholder="Autocomplete and select an aircraft. For example A300" />*@
                    <span asp-validation-for="AircraftId" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Confirm Creation" class="btn btn-lg btn-blue pull-right" />
                    <a asp-action="index" class="btn btn-link btn-default pull-left">Back to list</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ''
        });
    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $("#DepartureAirportInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Airports/SearchAirports",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.id };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $('#DepartureAirportInput').val(ui.item.label);
                $('#DepartureAirport').val(ui.item.value);
                return false;
            },
            messages: {
                noResults: "No result", results: function (count) { }
            }
        });

        $("#DestinationAirportInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Airports/SearchAirports",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.id };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $('#DestinationAirportInput').val(ui.item.label);
                $('#DestinationAirport').val(ui.item.value);
                return false;
            },
            messages: {
                noResults: "No result", results: function (count) { }
            }
        });

        $("#AircraftInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Aircrafts/SearchAircrafts",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.code, value: item.id };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $('#AircraftInput').val(ui.item.label);
                $('#Aircraft').val(ui.item.value);
                return false;
            },
            messages: {
                noResults: "No result", results: function (count) { }
            }
        });
    })
</script>