@model TUI.Flights.Common.Dtos.Flight.FlightDto
<div class="disply_wrapper">
    <div class="row">
        <h2 class="page-header page-header--centered">Edit Flight Details</h2>
        <div class="col-md-offset-2 col-md-8">
            <form asp-action="UpdateFlightPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="FlightNumber" class="control-label"> Flight number</label>
                    <input asp-for="FlightNumber" class="form-control" placeholder="Flight number" />
                    <span asp-validation-for="FlightNumber" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="AirportDeparture" class="control-label">Departure</label>
                        <input asp-for="AirportDeparture" class="form-control" placeholder="Search and select a departure airport" />
                        <input asp-for="AirportDepartureId" type="hidden" class="form-control" />

                        <span asp-validation-for="AirportDeparture" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="AirportDestination" class="control-label">Destination</label>
                        <input asp-for="AirportDestination" class="form-control" placeholder="Search and select a destination airport" />
                        <input asp-for="AirportDestinationId" type="hidden" class="form-control" />

                        <span asp-validation-for="AirportDestination" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="FlightDate" class="control-label">Date</label>
                        <input asp-for="FlightDate" type="date" class="form-control" />
                        <span asp-validation-for="FlightDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="FlightTime" class="control-label">Time</label>
                        <input asp-for="FlightTime" type="time" class="form-control" placeholder="Departure Time" />
                        <span asp-validation-for="FlightTime" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="Aircraft" class="control-label">Aircraft</label>
                    <input asp-for="Aircraft" class="form-control" placeholder="Search and select an aircraft" />
                    <input asp-for="AircraftId" type="hidden" class="form-control" />

                    <span asp-validation-for="Aircraft" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="EstimatedFlightDuration" class="control-label">Estimated Flight Duration (Hours)</label>
                        <input asp-for="EstimatedFlightDuration" disabled class="form-control" placeholder="Search and select an aircraft" />
                        <span asp-validation-for="EstimatedFlightDuration" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="Distance" class="control-label">Estimated Distance (Mile)</label>
                        <input asp-for="Distance" disabled class="form-control" placeholder="Search and select an aircraft" />
                        <span asp-validation-for="Distance" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="EstimatedFuelNeeded" class="control-label">Estimated Fuel Needed (Kg)</label>
                        <input asp-for="EstimatedFuelNeeded" disabled class="form-control" placeholder="0" />
                        <span asp-validation-for="EstimatedFuelNeeded" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-lg btn-blue pull-right" />
                    <a asp-action="index" class="btn btn-link btn-default pull-left">Back to list</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $("#AirportDeparture").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Airports/SearchAirports",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.id };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $('#AirportDeparture').val(ui.item.label);
                $('#AirportDepartureId').val(ui.item.value);
                return false;
            },
            messages: {
                noResults: "No result", results: function (count) { }
            }
        });

        $("#AirportDestination").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Airports/SearchAirports",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.id };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $('#AirportDestination').val(ui.item.label);
                $('#AirportDestinationId').val(ui.item.value);
                return false;
            },
            messages: {
                noResults: "No result", results: function (count) { }
            }
        });

        $("#Aircraft").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Aircrafts/SearchAircrafts",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.code, value: item.id };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $('#Aircraft').val(ui.item.label);
                $('#AircraftId').val(ui.item.value);
                return false;
            },
            messages: {
                noResults: "No result", results: function (count) { }
            }
        });
    })
</script>